{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
    </nav>
</header>
<main>
    <div>
        <h1>Create Category</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock %}
